In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
import matplotlib.pyplot as plt

In [8]:
print(os.listdir())

['.ipynb_checkpoints', '.Rhistory', '01-Intro_to_IBM_Cognos_Analytics_admin.pps', '0793999_lab7.xlsx', '123', '2.1.5.5-IM-Data-Server-Manager-win64(1).zip', '53041312-ontario-drivers-handbook.pdf', '5_6217592574077568864.ipynb', '8-Transaction Management- Intro(1).pdf', '9 Transactions Concurrency Control(1).pdf', 'All sections Data.xlsx', 'AllServiceRequests_2021.csv', 'All_Streaming_Shows (1).csv', 'ames(1).csv', 'amzn_2012-7-31_2017-6-30 (1).csv', 'amzn_2012-7-31_2017-6-30.csv', 'Anaconda3-2021.11-Windows-x86_64.exe', 'Anan Resume PT.docx', 'AnyDesk.exe', 'ApacheDirectoryStudio-win32-1.5.3.v20100330(1)', 'ApacheDirectoryStudio-win32-1.5.3.v20100330(1).zip', 'App Usage Survey.xlsx', 'appdata.csv', 'Application Package [Authentication Successful].pdf', 'archive', 'archive (1).zip', 'archive (3).zip', 'archive.zip', 'Assessment Change Student Notification.docx', 'Assignment 3(0793770).xlsx', 'Assignment_4_0785748.xlsx', 'AWS_Resume.docx', 'BB_Resume.docx', 'Binomial-wk8.xlsx', 'Calculations.docx', 'car data.xltx', 'CASHIER (4).pdf', 'Cashier .pdf', 'Cashier 2.pdf', 'ca_server_win64_11.0.13', 'ca_server_win64_11.0.13.zip', 'ceos.csv', 'CertificateOfCompletion_Python Essential Training 2018.pdf', 'CertificateOfCompletion_Requirements Elicitation and Analysis.pdf', 'CertificateOfCompletion_Tableau Essential Training 2021.pdf', 'Chapter 1 (1) (1).docx', 'Chapter 1 (1) (1).pdf', 'Chapter 1 (1).pdf', 'Chapter 1 (1).pptx', 'Chapter 1.pptx', 'Chapter 2 - Fundamentals of Healthcare Analytics.pptx', 'Chapter 2.pptx', 'Chapter 3.pptx', 'Chapter 4.pptx', 'Chapter 5.pptx', 'Chapter 6.pptx', 'Chapter 7 (1).pptx', 'Chapter 7 Creating Extracts.pptx', 'Chapter 7.pptx', 'Chapter 8(1) (1).pptx', 'Chapter 8(1).pptx', 'Chapter 8.pptx', 'Chapter 9 Likert(1).pptx', 'Chapter 9.pptx', 'ChromeSetup.exe', 'Ch_3_First_Taste_pt_2.ipynb', 'Cineplex.pdf', 'Cisco_Resume.docx', 'Class_project_overview.docx', 'coding_a_single_neuron.ipynb', 'coding_a_single_neuron_exercises(1).ipynb', 'coding_one_hidden_layer (1).ipynb', 'coding_one_hidden_layer.ipynb', 'coding_one_hidden_layer_exersices.ipynb', 'Cognos services wont start - please read.docx', 'companies.csv', 'ConnectShellSetup11 (1).exe', 'ConnectShellSetup11 (2).exe', 'ConnectShellSetup11.exe', 'Course Outline DAB 201 Final (1).docx', 'Course Outline DAB 201 Final (2).docx', 'Course Outline DAB 201 Final.docx', 'ctos.csv', 'customers.txt', 'DAB102 Lab6 Result Template.doc', 'DAB102 Lab7 Result Template.doc', 'DAB102 Lab8 Result Template.doc', 'DAB102 Lab9 Result Template.doc', 'DAB102 Project Template.doc', 'DAB102-Project-790824 zeel.pdf', 'DAB102-Project-795650.pdf', 'DAB201_LAB4_794004.twbx', 'DAB202_Handout_chapter5_Cont.doc', 'DAB202_Handout_chapter6.doc', 'DAB202_Handout_chapter7.doc', 'DAB203_LAB3_0795099.xlsx', 'DAB203_Project.docx', 'DAB302_Handout_chapter2 (1).doc', 'DAB302_Handout_chapter2.doc', 'DAB302_Handout_chapter3.doc', 'DAB302_Handout_chapter3_Pt2.doc', 'DAB302_Handout_chapter4_Pt1.doc', 'DAB302_Handout_chapter4_Pt2(1).doc', 'DAB302_Handout_chapter4_Pt3(1).doc', 'DAB304 Healthcare Analytics_course_outline (1).docx', 'DAB304 Healthcare Analytics_course_outline (2).docx', 'DAB304 Healthcare Analytics_course_outline (3).docx', 'DAB304 Healthcare Analytics_course_outline.docx', 'DAB304-Lab6-Devarsh (1).xlsx', 'DAB304-Lab6-Devarsh.xlsx', 'DAB304-LabWeek6-Group5 (1).pdf', 'DAB304-LabWeek6-Group5.docx', 'DAB304-LabWeek6-Group5.pdf', 'DAB304_Syllabus_F22 (1).docx', 'DAB304_Syllabus_F22.docx', 'DAB_304_Lab_4_Group (1).ipynb', 'DAB_304_Lab_4_Group.ipynb', 'DAB_group09_week_04.docx', 'Data Entry.docx', 'Data Set forLab Week 5.xlsx', 'Datasets', 'Datasets.zip', 'DatasetsInfo.docx', 'Demographic-Data.csv', 'desktop.ini', 'diabetes (1).csv', 'diabetes.csv', 'direct deposit form.pdf', 'ED NACRS Data (1).xlsx', 'ED NACRS Data (2).xlsx', 'ED NACRS Data(1) (1).xlsx', 'ED NACRS Data(1).xlsx', 'ED NACRS Data.xlsx', 'EXPC(1).rar', 'Faang.docx', 'fb_2012-7-31_2017-6-30 (1).csv', 'fb_2012-7-31_2017-6-30.csv', 'File for Cleanup.xlsx', 'FoodBorne disease.ipynb', 'Game.of.Thrones.S01E01.Winter.Is.Coming.2160p.HMAX.WEBDL.DDP5.1.Atmos.HDR.HEVCShiNobi.mkv', 'gcapi.dll', 'Getting_started(1) (1).ipynb', 'Getting_started(1).ipynb', 'Global Superstore(1).xls', 'Glossary_AgileFoundations.zip', 'Google_Trends (1).ipynb', 'Google_Trends.ipynb', 'Group24FinalReportHA.docx', 'Harry Potter(1).xlsx', 'Harry Potter.twb', 'HCA - Week 6 - Health Analyst Toolkit (1).pptx', 'HCA - Week 6 - Health Analyst Toolkit (2).pptx', 'HCA - Week 6 - Health Analyst Toolkit.pptx', 'HC_Lab6.xlsx', 'Healthcare.pptx', 'HealthcareProject.ipynb', 'hobby.csv.xlsx', 'How_Machine_Learning_Works_1.ipynb', 'How_Machine_Learning_Works_3.ipynb', 'HRCreateTable(1).sql', 'HRDataInsert(1) (1).sql', 'HRDataInsert(1).sql', 'ibm_ds4130_win', 'ibm_ds4130_win.zip', 'Individual Final Project (1).pptx', 'Individual Final Project.pptx', 'Introduction to Tableau - Music Sales.twbx', 'Introduction.pptx', 'invoice.pdf', 'jdk-8u201-windows-i586', 'jdk-8u201-windows-i586.zip', 'Join and Blend (1).twb', 'Join and Blend (2).twb', 'Join and Blend.twb', 'KAVYA PUROHIT  (1).docx', 'KAVYA PUROHIT .docx', 'kobe_HM (1).csv', 'kobe_HM (2).csv', 'kobe_HM.csv', 'Lab 2 303.twb', 'Lab 2 Dataset.xls', 'Lab 4_Data.xlsx', 'Lab 6 (0787742).doc', 'Lab 7 Sampling Distributions.pdf', 'LAB 8 - The Spartians Martians.docx', 'Lab-7-Questions-Duplicate', 'Lab-7-Questions-Duplicate.zip', 'Lab-7_003', 'lab10.Rmd', 'Lab10_Creating a dashboard and prioritizing activities.doc', 'Lab1_Building_a_Network (1).pkz', 'Lab1_IntroToSQL.sql', 'Lab3 W22 004.pdf', 'Lab4_0791147.docx', 'LAB4_0791147.twbx', 'LAB4_789897.twbx', 'lab4_HT.docx', 'lab4_ravhan.pdf', 'Lab5.ipynb', 'lab5.twbx', 'Lab7 (1).ipynb', 'Lab7.ipynb', 'Lab7_files.zip', 'Lab8_files.zip', 'Lab8_Groups&Users (1).doc', 'Lab8_Groups&Users (2).doc', 'Lab8_Groups&Users.doc', 'Lab9_MonitorRunActivities (1).doc', 'Lab9_MonitorRunActivities.doc', 'Lab_1_Part_1', 'Lab_1_Part_1.zip', 'Lab_1_Part_2.ipynb', 'Lab_2_Part_1.zip', 'Lab_3_Hashira', 'Lab_3_Hashira.zip', 'Lab_3_Part_2.ipynb', 'Lab_6 (0787742).xlsx', 'Lab_7', 'Lab_7.zip', 'Lab_8', 'Lab_8.zip', 'Lab_9_Hashira', 'Lab_9_Hashira.zip', 'Lab_9_Part2', 'Lab_9_Part2.zip', 'LCFND2-UL22.pdf', 'LDAP Accounts(1)', 'LDAP Accounts(1).zip', 'Lectures 10 Security of Data Management.pdf', 'Lectures 11 Deadlocks(1).pdf', 'LoadSQLServer.sql', 'LockDownBrowser-2-0-8-04.exe', 'Managing Employees - Class 7 (5 files merged).pdf', 'marketing survey.twb', 'Modern-Warfare-Setup.exe', 'Music Sales (Music Store.xlsx).csv', 'MyPlanCard.pdf', 'ncbirths(1).csv', 'npp.8.1.5.Installer.exe', 'nst-est2017-01.xlsx', 'OfficeSetup.exe', 'Online Retail (1).xlsx', 'Online Retail.xlsx', 'orders.txt', 'PacketTracer-7.3.1-win64-setup.zip', 'Pandas3.ipynb', 'Pandas4.ipynb', 'PCCheckClient-2.0.0.exe', 'PeerEvaluationForm(1) (1).doc', 'PeerEvaluationForm(1).doc', 'Picture1.png', 'popular_screens.csv', 'PPT_DataVisualReportingfinalProject.pptx', 'presentation_schedule (1).csv', 'presentation_schedule (2).csv', 'presentation_schedule (3).csv', 'presentation_schedule.csv', 'presidents.csv', 'Project 2_Part2_Group5.zip', 'Project 2_Part2_Group9.zip', 'Project 4_Group 5.zip', 'Project 5_Group 5.zip', 'Project Presentation Details (1) (1).docx', 'Project Presentation Details (1).docx', 'Project Work.pptx', 'Project-Air Pollution.twbx', 'Project.pdf', 'Project2_Part2_Group9 (1).zip', 'Project3_Group2 (1).html', 'Project3_Group2.html', 'Project3_Group2.ipynb', 'projectPPTTfinal.pptx', 'R-4.1.2-win (1).exe', 'R-4.1.2-win.exe', 'record.csv', 'record.csv.xlsx', 'rent_5.csv', 'Restaurant_Reviews.tsv', 'Review_Fully_Connected', 'Review_Fully_Connected.ipynb', 'Review_weeks_1_to_3_final.html', 'Riya.pdf', 'ROGERS CUSTOMER SERVICE FEEDBACK.docx', 'RStudio-2021.09.2-382', 'RStudio-2021.09.2-382.zip', 'Sales Target Extract(1).csv', 'Sales_data.csv', 'Sample - Coffee Chain (Access)(3).csv', 'Sample - Superstore Sales (Excel)(1) (1).csv', 'Sample - Superstore Sales (Excel)(1).csv', 'Sample - Superstore Sales (Excel).csv', 'Sample Questions Solutions.pdf', 'Sample Questions with Solution (1).pdf', 'SCC_PROOF_EN.pdf', 'Screenshot (1).pdf', 'Screenshot (2).pdf', 'search_trends.csv', 'Shrey.xls', 'SQL2019-SSEI-Expr.exe', 'SQLServerExpressEdition - Installation (1).docx', 'SQLServerExpressEdition - Installation.docx', 'SSMS-Setup-ENU.exe', 'Stations.csv', 'Storyboarding (1).pptx', 'Storyboarding.pptx', 'students.xlsx', 'Study Permit.pdf', 'Subscribers.txt', 'Superstore dataset.twb', 'Syllabus-DAB201(1) (1).docx', 'Syllabus-DAB201(1) (2).docx', 'Syllabus-DAB201(1).docx', 'Tableau Joins(1).pptx', 'Tableau Lab 3.docx', 'Tableau Lab 4 (1).docx', 'Tableau Lab 4.docx', 'Tableau Lab 4_0781595.docx', 'Tableau Lab 5.docx', 'Tableau Project (1) updated.twb', 'Tableau Project.twb', 'TableauAutoUpdate', 'TableauDesktop-64bit-2021-4-3.exe', 'Telco-Customer-Churn (1).csv', 'Telco-Customer-Churn.csv', 'Tim Hortons .pdf', 'today ml.ipynb', 'Trips.csv', 'Untitled1.ipynb', 'Untitled7.ipynb', 'v11.5.6_ntx64_server_dec.exe', 'veh16.csv', 'veh18_missing.csv', 'veh19_missing.csv', 'W0791620-LAB7.xlsx', 'weather_data_nyc_centralpark_2016.csv', 'Weekly_project_meeting_minutes.docx', 'WhatsApp Image 2022-01-29 at 11.31.16 PM.jpeg', 'WhatsApp Image 2022-04-16 at 8.35.08 PM.jpeg', 'wind-turbine.csv', 'winrar-x64-610.exe', 'ZipcensusTRUNC.csv', 'ZipINexample.sql', 'Zoom_cm_fo42mnktZ9vvrZo4_mPphXbHijTC9Ztuhk-5LfwfzQAyZwIr3Qmlfw@2Rle-nCDlybVk0MV_k8a092e1bb3b37c7e_.exe', 'zopener_8a4800ea0a3f43f4bafd7706c1a4e7ee.log']

In [26]:
df = pd.read_csv("outbreaks.csv")
df

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19114,2015,December,Wisconsin,Restaurant,NaN,NaN,Norovirus genogroup II,GII_14,Confirmed,4,0.0,0.0
19115,2015,December,Wisconsin,Private Home/Residence,Salsa,NaN,Norovirus genogroup II,GII_2,Confirmed,16,0.0,0.0
19116,2015,December,Wisconsin,Nursing Home/Assisted Living Facility,NaN,NaN,Norovirus genogroup II,GII_17 Kawasaki (2014),Confirmed,43,3.0,0.0
19117,2015,December,Wisconsin,Fast Food Restaurant,NaN,NaN,Norovirus genogroup II,GII_2,Confirmed,5,0.0,0.0
19118,2015,December,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,3,0.0,0.0

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19119 entries, 0 to 19118
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               19119 non-null  int64
 1   Month              19119 non-null  object
 2   State              19119 non-null  object
 3   Location           16953 non-null  object
 4   Food               10156 non-null  object
 5   Ingredient         1876 non-null   object
 6   Species            12500 non-null  object
 7   Serotype/Genotype  3907 non-null   object
 8   Status             12500 non-null  object
 9   Illnesses          19119 non-null  int64
 10  Hospitalizations   15494 non-null  float64
 11  Fatalities         15518 non-null  float64
dtypes: float64(2), int64(2), object(8)
memory usage: 1.8+ MB

In [28]:
df.head()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,20,0.0,0.0
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,NaN,112,0.0,0.0
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,NaN,35,0.0,0.0
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,NaN,Confirmed,4,0.0,0.0
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Enteritidis,Confirmed,26,3.0,0.0

In [29]:
df.tail()

,Year,Month,State,Location,Food,Ingredient,Species,Serotype/Genotype,Status,Illnesses,Hospitalizations,Fatalities
19114,2015,December,Wisconsin,Restaurant,NaN,NaN,Norovirus genogroup II,GII_14,Confirmed,4,0.0,0.0
19115,2015,December,Wisconsin,Private Home/Residence,Salsa,NaN,Norovirus genogroup II,GII_2,Confirmed,16,0.0,0.0
19116,2015,December,Wisconsin,Nursing Home/Assisted Living Facility,NaN,NaN,Norovirus genogroup II,GII_17 Kawasaki (2014),Confirmed,43,3.0,0.0
19117,2015,December,Wisconsin,Fast Food Restaurant,NaN,NaN,Norovirus genogroup II,GII_2,Confirmed,5,0.0,0.0
19118,2015,December,Wyoming,NaN,NaN,NaN,NaN,NaN,NaN,3,0.0,0.0

In [30]:
df.isnull().sum()

Year                     0
Month                    0
State                    0
Location              2166
Food                  8963
Ingredient           17243
Species               6619
Serotype/Genotype    15212
Status                6619
Illnesses                0
Hospitalizations      3625
Fatalities            3601
dtype: int64

In [31]:
df.shape

(19119, 12)

In [35]:
df.drop(['Hospitalizations','Fatalities','Serotype/Genotype'], axis=1, inplace=True)
df

,Year,Month,State,Location,Food,Ingredient,Species,Status,Illnesses
0,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,20
1,1998,January,California,NaN,Custard,NaN,NaN,NaN,112
2,1998,January,California,Restaurant,NaN,NaN,NaN,NaN,35
3,1998,January,California,Restaurant,"Fish, Ahi",NaN,Scombroid toxin,Confirmed,4
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",NaN,Salmonella enterica,Confirmed,26
...,...,...,...,...,...,...,...,...,...
19114,2015,December,Wisconsin,Restaurant,NaN,NaN,Norovirus genogroup II,Confirmed,4
19115,2015,December,Wisconsin,Private Home/Residence,Salsa,NaN,Norovirus genogroup II,Confirmed,16
19116,2015,December,Wisconsin,Nursing Home/Assisted Living Facility,NaN,NaN,Norovirus genogroup II,Confirmed,43
19117,2015,December,Wisconsin,Fast Food Restaurant,NaN,NaN,Norovirus genogroup II,Confirmed,5
19118,2015,December,Wyoming,NaN,NaN,NaN,NaN,NaN,3

In [36]:
df.fillna(0)

,Year,Month,State,Location,Food,Ingredient,Species,Status,Illnesses
0,1998,January,California,Restaurant,0,0,0,0,20
1,1998,January,California,0,Custard,0,0,0,112
2,1998,January,California,Restaurant,0,0,0,0,35
3,1998,January,California,Restaurant,"Fish, Ahi",0,Scombroid toxin,Confirmed,4
4,1998,January,California,Private Home/Residence,"Lasagna, Unspecified; Eggs, Other",0,Salmonella enterica,Confirmed,26
...,...,...,...,...,...,...,...,...,...
19114,2015,December,Wisconsin,Restaurant,0,0,Norovirus genogroup II,Confirmed,4
19115,2015,December,Wisconsin,Private Home/Residence,Salsa,0,Norovirus genogroup II,Confirmed,16
19116,2015,December,Wisconsin,Nursing Home/Assisted Living Facility,0,0,Norovirus genogroup II,Confirmed,43
19117,2015,December,Wisconsin,Fast Food Restaurant,0,0,Norovirus genogroup II,Confirmed,5
19118,2015,December,Wyoming,0,0,0,0,0,3

In [37]:
df.to_csv

<bound method NDFrame.to_csv of        Year     Month       State                               Location  \
0      1998   January  California                             Restaurant
1      1998   January  California                                    NaN
2      1998   January  California                             Restaurant
3      1998   January  California                             Restaurant
4      1998   January  California                 Private Home/Residence
...     ...       ...         ...                                    ...
19114  2015  December   Wisconsin                             Restaurant
19115  2015  December   Wisconsin                 Private Home/Residence
19116  2015  December   Wisconsin  Nursing Home/Assisted Living Facility
19117  2015  December   Wisconsin                   Fast Food Restaurant
19118  2015  December     Wyoming                                    NaN

                                    Food Ingredient                 Species  \
0                                    NaN        NaN                     NaN
1                                Custard        NaN                     NaN
2                                    NaN        NaN                     NaN
3                              Fish, Ahi        NaN         Scombroid toxin
4      Lasagna, Unspecified; Eggs, Other        NaN     Salmonella enterica
...                                  ...        ...                     ...
19114                                NaN        NaN  Norovirus genogroup II
19115                              Salsa        NaN  Norovirus genogroup II
19116                                NaN        NaN  Norovirus genogroup II
19117                                NaN        NaN  Norovirus genogroup II
19118                                NaN        NaN                     NaN

          Status  Illnesses
0            NaN         20
1            NaN        112
2            NaN         35
3      Confirmed          4
4      Confirmed         26
...          ...        ...
19114  Confirmed          4
19115  Confirmed         16
19116  Confirmed         43
19117  Confirmed          5
19118        NaN          3

[19119 rows x 9 columns]>

In [38]:
os.getcwd()

'C:\\Users\\puroh\\Downloads'

In [40]:
os.chdir("C:\\Users\\puroh\\Downloads")

In [41]:
df.to_csv('outbreaks_Cleaned.csv', index=False)